  div#test.scoff {
    display: inline-block;
    position: fixed;
    min-width: 60vw;
    min-height: 20vh;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    z-index: 1000;
    background-color: white;
    border-width: thick;
    border-style: solid;
    border-color: black;
    padding: 20px;
  }

  .scoff_questiontext,
  .scoff_resulttext {
    font-size: x-large;
    display: block;
    padding-bottom: 3vh;
  }
